In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('pakistan_data.csv')

In [5]:
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,PK,Pakistan,EMRO,0,0,0,0
1,2020-01-04,PK,Pakistan,EMRO,0,0,0,0
2,2020-01-05,PK,Pakistan,EMRO,0,0,0,0
3,2020-01-06,PK,Pakistan,EMRO,0,0,0,0
4,2020-01-07,PK,Pakistan,EMRO,0,0,0,0

In [6]:
df.shape

(1190, 8)