In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('pakistan_data.csv')

In [5]:
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,PK,Pakistan,EMRO,0,0,0,0
1,2020-01-04,PK,Pakistan,EMRO,0,0,0,0
2,2020-01-05,PK,Pakistan,EMRO,0,0,0,0
3,2020-01-06,PK,Pakistan,EMRO,0,0,0,0
4,2020-01-07,PK,Pakistan,EMRO,0,0,0,0

In [6]:
df.shape

(1190, 8)

In [7]:
df.describe()

         New_cases  Cumulative_cases   New_deaths  Cumulative_deaths
count  1190.000000      1.190000e+03  1190.000000        1190.000000
mean   1327.574790      9.421865e+05    25.755462       19406.142857
std    1631.511306      5.892211e+05    34.822025       11761.570123
min       0.000000      0.000000e+00     0.000000           0.000000
25%      80.250000      3.280718e+05     0.000000        6736.750000
50%     621.000000      1.111460e+06     8.000000       24676.000000
75%    2082.750000      1.531162e+06    42.000000       30381.000000
max    8183.000000      1.579814e+06   313.000000       30649.000000

In [9]:
df.sample(5)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
601,2021-08-26,PK,Pakistan,EMRO,4199,1135858,141,25235
535,2021-06-21,PK,Pakistan,EMRO,1050,948268,37,21977
988,2022-09-17,PK,Pakistan,EMRO,98,1571628,0,30604
843,2022-04-25,PK,Pakistan,EMRO,105,1527856,0,30369
355,2020-12-23,PK,Pakistan,EMRO,1704,460672,82,9474